:root {
  --slideshow-max-width: 700px;
  --button-size: 70px;
  --button-position: 180px;
}

@media (max-width: 48em) {
  * {
    overflow: hidden;
  }

  .slideshow_button {
    display: none;
  }

  .slideshow_item {
    position: absolute;
  }
  
  .slideshow_container {
    margin-left: -48px;
    margin-top: -24px;
  }

  .slideshow_image {
    width: 100vw;
  }

  .slideshow_caption {
    text-align: center;
  }
}

@media (min-width: 48em) {
  .slideshow {
    display: grid;
    grid-template-columns: var(--button-size) var(--slideshow-max-width) var(--button-size);
  }
  
  .slideshow_image {
    max-width: var(--slideshow-max-width);
  }
  
  .slideshow_caption {
    max-width: var(--slideshow-max-width);
    text-align: center;
  }
  
  .slideshow_item {
    position: absolute;
  }
  
  .slideshow_button {
    height: var(--button-size);
    width: var(--button-size);
    z-index: 10000;
    margin-top: var(--button-position);
    background: #000;
    border: 1px solid #444;
  }
  
  .slideshow_button-left {
    grid-row: 1;
    grid-column: 1;
  }
  
  .slideshow_container {
    grid-row: 1;
    grid-column: 2;
    margin-left: -40px;
  }
  
  .slideshow_button-right {
    grid-row: 1;
    grid-column: 3;
  }
  
  .invisible {
    display: none;
  }
}
